Port 22
ListenAddress 0.0.0.0
HostKey /fixture/ssh_host_ed25519_key
PidFile /run/sshd/sshd.pid
AuthorizedKeysFile /fixture/authorized_keys
PermitRootLogin prohibit-password
PasswordAuthentication no
KbdInteractiveAuthentication no
PubkeyAuthentication yes
AuthenticationMethods publickey
StrictModes no
UsePAM no
PermitUserEnvironment no
AllowAgentForwarding no
AllowTcpForwarding no
X11Forwarding no
PermitTunnel no
GatewayPorts no
LogLevel VERBOSE
Subsystem sftp internal-sftp
